@import "tailwindcss";

@theme {
  --color-accent: #A33A3A;
  --color-primary: #FAF3E1;
  --color-secondary: #222222;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease;
}