@import "tailwindcss";

@theme {
  --color-accent: #A33A3A;
  --color-primary: #FAF3E1;
  --color-secondary: #222222;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease;
}

body { font-family:"Poppins", sans-serif; }
h1,h2,h3,h4,h5,h6 { font-family:"Playfair Display", serif;  }

button { cursor:pointer; }

.animate-fadeIn { animation: fadeIn 0.4s ease forwards; }

@keyframes fadeIn { from {opacity:0; transform:translateY(-8px);} to {opacity:1; transform:translateY(0);} }

@keyframes scroll { from { transform: translateX(0);} to { transform: translateX(-50%);} }

